<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>

        <!--兼容移动设备 窗口组件自适应-->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href='public/css/bootstrap/bootstrap.min.css' >

        <!-- Optional theme -->
        <link rel="stylesheet" href='public/css/bootstrap/bootstrap-theme.min.css' >

        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src='public/js/bootstrap/bootstrap.min.js' type="text/javascript"></script>
        <script src='public/js/sessvars.js' type="text/javascript"></script>

        <link rel="stylesheet" media="screen" href='public/css/whg.css'>
        <link rel="stylesheet" media="screen" href='public/css/boxlist.css'>

        <link rel="stylesheet" media="screen" href='public/css/rowshover.css'>


        <script src='public/js/sidebar.js' type="text/javascript"></script>

    </head>
    <body>
