<div class="col-xs-3">
	<img src="/public/img/sale/sale2.png" height="100%" width="100%">
</div>
<div class="col-xs-3">
	<a class="list-quotes" href="#">
                <!-- Recommended size 360X360 -->
                <img class='img-responsive' alt="img" src="/public/img/items/item1.jpg">
                <div class="quotes">
                    <h1>今日特价 无花果干</h1>
                    <p>
                        喵可】无花果干200g 大颗粒新鲜无花果干果 新疆特产自然风干水果脯
                    </p>
                </div>
            </a>
</div>